@import "azure-devops-ui/core/_platformCommon.scss";

.work-item-header {
    min-height: 80px;

    &--header {
        display: flex;
        flex-direction: column;

        min-height: 32px;

        margin-bottom: 20px;
    }

    &--info {
        display: flex;
        align-items: center;

        color: $secondary-text;
        font-size: 14px;
        margin-right: 5px;

        text-decoration: none;
        text-transform: capitalize;

        &:hover {
            text-decoration: underline;
        }
    }

    &--title {
        flex-grow: 1;

        font-size: 18px;
        font-weight: 700;
    }    
}
