@import "azure-devops-ui/core/_platformCommon.scss";

.work-item-description {
    border-radius: 6px;
    background-color: $neutral-4;

    padding: 10px;

    min-height: 60px;
}

.html-content {
    ul,
    ol {
        padding-left: 40px;
    }

    li {
        list-style: inherit;
    }

    a {
        text-decoration: underline;
    }

    pre {
        background-color: rgba(234, 234, 234, 1);
        background-color: rgba(var(--palette-neutral-8, 234, 234, 234), 1);
        display: inline-block;
        min-width: 100%;
    }
}
