@import "azure-devops-ui/Core/_platformCommon.scss";

.session-card {
    min-height: 120px;
    max-width: 440px;
    min-width: 220px;
    flex-basis: 220px;
    margin-right: 32px;
    margin-bottom: 32px;
    cursor: pointer;

    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    padding: 10px;

    .session-card--content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &:hover,
    &:active,
    &:visited {
        color: black;
        text-decoration: none;
    }

    &--title {
        justify-self: flex-start;
        color: $primary-text;

        font-weight: 600;
        font-size: 18px;
        margin: 0;
    }

    &--mode {
        color: $primary-text;
        flex-grow: 1;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .session-card--info {
        padding: 10px 0;

        dl {
            display: flex;
            flex-direction: row;
            margin: 5px 0 0 0;

            dt {
                font-weight: normal;
                width: 30%;
            }

            dd {
                margin: 0;
            }
        }
    }
}
