.splitter {
    display: flex;
    min-height: 80vh;

    &--left {
        width: 200px;
        border-right: 1px solid lightgray;

        flex-grow: 0;
        flex-shrink: 0;

        padding-right: 20px;
    }

    &--right {
        flex-grow: 1;

        padding-left: 20px;
    }
}
