.subtitle {
    font-family: "Segoe UI", "-apple-system", BlinkMacSystemFont, Roboto,
        "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    margin: 20px 0 10px;
    padding: 0;
}
