<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Estimate</title>

	<script src="../libs/VSS.SDK.min.js"></script>

	<script type="text/javascript">
        // Initialize framework 
        VSS.init({
            explicitNotifyLoaded: true,
            usePlatformScripts: true,
            moduleLoaderConfig: {}
        });
        
        // Load main entry point for extension
        VSS.require(["<%= htmlWebpackPlugin.files.js.join('","') %>"], function () {
            // Loading succeeded
            VSS.notifyLoadSucceeded();
        });
    </script>
</head>

<body>
	<div id="root" class="ms-Fabric ms-font-m ms-App"></div>
</body>

</html>